<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
        <div class="container mt-4">
            <h1><%= blog.title %></h1>
            <img src="<%= blog.coverImageURL %>" class="img-fluid" width="350px">
            <pre><%= blog.body %></pre>
        </div>
        <div class="container mt-4">
          <img src="<%= blog.createdBy.profilePhotoURL %>" width="50px"> <%= blog.createdBy.fullName %>
        </div>
        <div class="container mt-4">
          <h2>Comments (<%= comments.length %>)</h2>
          <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <input
                type="text"
                class="form-control"
                id="content"
                name="content"
                placeholder="Write a comment..."
                />
                <button type="submit" class="btn btn-sm btn-primary mt-3">Add</button>
            </form>
            <% } %>
        </div>
        <div class="container mt-3">
          <% comments.forEach(comment => { %>
            <div>
            <img src="<%= comment.createdBy.profilePhotoURL %>" width="50px" />
             <%= comment.createdBy.fullName %>
            <pre><%= comment.content %></pre>
          <% }) %>
        </div>
        </div>
    <%- include('./partials/script') %>
  </body>
</html>